.recent-projects-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.recent-project-title,
.recent-project-subtitle {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.recent-project-title {
    color: #5B8095;
}

.recent-project-subtitle {
    color: #253646;
    margin-left: 4rem;
}

.recent-projects-list {
    gap: 1rem;
    width: 100%;
    height: 35rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.recent-project-item-container {
    flex: 1;
    padding: 1rem;
    position: relative;
    background-color: #253646;

    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    transition: flex 0.2s ease-in-out;
}

.recent-project-image-container {
    width: 100%;
    height: 60%;
    position: relative;
}

.recent-project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recent-project-image-top {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    
}

.recent-project-item-container:hover {
    flex: 2;
}

.recent-project-item-container:hover .down-button-recent-projects {
    opacity: 0;
}

.recent-project-item-container:hover .recent-project-image-top {
    opacity: 0;
    pointer-events: none;
}


.recent-project-title-container,
.recent-project-item-container p,
.recent-project-button {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.1s ease-in-out;
}

.recent-project-item-container:hover .recent-project-title-container,
.recent-project-item-container:hover p,
.recent-project-item-container:hover .recent-project-button {
    opacity: 1;
    transform: translateY(0);
}

.recent-project-title-title,
.recent-project-title-subtitle {
    color: white;
    font-weight: 600;
    font-size: x-large;
    font-family: 'Inter', sans-serif;
}

.recent-project-title-subtitle {
    margin-left: 3rem;
}

.recent-project-item-container p {
    color: white;
    font-size: small;
    font-weight: 100;
    margin: 0.5rem 0;
    font-family: 'Poppins', sans-serif;
}

.recent-project-button {
    width: 7rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.3rem 0.2rem;
    background-color: #5B8095;

    gap: 0.5rem;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.recent-project-button div {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3rem;
    background-color: #253646;

    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-project-button:hover {
    background-color: rgba(91, 128, 149, 0.5);
}

.recent-project-button h4 {
    color: white;
    font-size: small;
    font-weight: 100;
    font-family: 'Poppins';
}

.carrusel-projects {
    display: none;
}

.down-button-recent-projects {
    z-index: 5;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    right: 2%;
    bottom: 1%;
    border: none;
    padding: 0.2rem;
    border-radius: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.recent-project-button-carrusel:active {
    transform: scale(0.5);
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    .recent-projects-list {
        display: none;
    }

    .recent-project-title,
    .recent-project-subtitle {
        font-size: 2.5rem;
    }

    .carrusel-projects {
        margin: 2rem 0;
        list-style: none;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        gap: 2rem;
        display: flex;
        align-items: center;
    }

    .carrusel-projects::-webkit-scrollbar {
        display: none; 
    }

    .carrusel-project-item {
        height: 20rem;
        min-width: 30rem;             
        position: relative;
        border-radius: 1rem;
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .carrusel-project-item img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        top: 0;
        left: 0;
        z-index: 1;
        object-fit: cover;
        position: absolute;
    }

    .title-project-carrusel-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
    }

    .title-project-carrusel-title,
    .title-project-carrusel-subtitle {
        color: white;
        font-weight: 600;
        font-size: xx-large;
        font-family: 'Inter', sans-serif;
        margin: 0;
    }

    .carrusel-button-container {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recent-project-button-carrusel {
        width: 6rem;
        border: none;
        cursor: pointer;
        border-radius: 1rem;
        padding: 0.5rem 0.2rem;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
        gap: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
    }

    .recent-project-button-carrusel:hover,
    .recent-project-button-carrusel:active {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .recent-project-button-carrusel h4 {
        color: white;
        font-size: small;
        font-weight: 100;
        font-family: 'Poppins';
        margin: 0;
    }
}

@media (max-width: 600px) {
    .recent-project-title,
    .recent-project-subtitle {
        font-size: 2rem;
    }

    .carrusel-project-item {
        height: 20rem;
        min-width: 25rem;             
    }
}

@media (max-width: 500px) {
    .carrusel-project-item {
        height: 18rem;
        min-width: 22rem;             
    }

    .title-project-carrusel-title,
    .title-project-carrusel-subtitle {
        color: white;
        font-weight: 500;
        font-size: x-large;
    }

    .recent-project-button-carrusel {
        width: 5rem;
    }

    .recent-project-button-carrusel h4 {
        font-size: smaller;
    }
}

@media (max-width: 450px) {
    .carrusel-project-item {
        height: 18rem;
        min-width: 18rem;             
    }

}