.section-knowUsAlong {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
}


.section-knowUsAlong-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 0 2%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-knowUsAlong-team-img {
    animation: fadeSlideLeft 0.5s ease-in-out;
    height: 90%;
}

.section-knowUsAlong-info-container {
    animation: fadeSlideLeft 0.5s ease-in-out;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-knowUsAlong-kova-img {
    width: 28%;
}

.section-knowUsAlong-text {
    width: 50%;
    margin: 5% 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

@media (max-width:360px) {
    .section-knowUsAlong-background {
        flex-direction: column;
    }
    .section-knowUsAlong-info-container {
        margin: 5% 0;
    }
    .section-knowUsAlong-kova-img {
        width: 60%;
        margin: 10% 0;
    }
    .section-knowUsAlong-text {
        width: 100%;
        font-size: 14px;
    }
}

@media (min-width:361px) and (max-width:480px) {
    .section-knowUsAlong-background {
        flex-direction: column;
    }
    .section-knowUsAlong-info-container {
        margin: 5% 0;
    }
    .section-knowUsAlong-kova-img {
        width: 40%;
        margin: 8% 0;
    }
    .section-knowUsAlong-text {
        width: 100%;
        font-size: 14px;
    }
}

@media (min-width:481px) and (max-width:768px)  {
    .section-knowUsAlong-background {
        flex-direction: column;
    }
    .section-knowUsAlong-info-container {
        margin: 5% 0;
    }
    .section-knowUsAlong-kova-img {
        width: 40%;
        margin: 4% 0;
    }
    .section-knowUsAlong-text {
        width: 100%;
        font-size: 16px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .section-knowUsAlong-background {
        flex-direction: column;
    }
    .section-knowUsAlong-info-container {
        margin: 5% 0;
    }
    .section-knowUsAlong-kova-img {
        width: 40%;
        margin: 2% 0;
    }
    .section-knowUsAlong-text {
        width: 100%;
        font-size: 16px;
    }
}

@media (min-width:1025px) and (max-width:1366px) {
    .section-knowUsAlong-kova-img {
        width: 40%;
        margin: 2% 0;
    }
    .section-knowUsAlong-text {
        font-size: 20px;
    }
}