@keyframes clipReveal {
    from {
        clip-path: inset(0 100% 0 0); /* Oculta todo el texto desde la derecha */
        opacity: 0;
    }
    to {
        clip-path: inset(0 0 0 0); /* Revela completamente el texto */
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(-8rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideLeft {
    from {
        opacity: 0;
        transform: translateX(10rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideRight {
    from {
        opacity: 0;
        transform: translateX(-10rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
