.section-title {
    padding: 1% 0;
    width: 100%;
}

.title-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.section-title-title, .section-title-subtitle {
    animation: clipReveal 1s ease-in forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    opacity: 0;
    font-size: 60px;    
}

.section-title-title {
    color: #5B8095;
    text-align: left;
} 

.section-title-subtitle {
    color: #253646;
    margin-right: -20%;
    text-align: right;

}

.title-container svg {
    animation: slideLeft 2s ease-in;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    width: 2.5%;
    padding: 0.5% 0;
}

.divider-section-title {
    animation: clipReveal 1s ease-in forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    
    width: 100%;
    height: 5px;
    opacity: 0;
    background-color: #253646;
}

@media (max-width:360px) {
    .section-title-title, .section-title-subtitle {
        font-size: 20px;
    }

    .title-container svg {
        width: 5%;
    }

    .divider-section-title {
        height: 3px;
    }
}

@media (min-width:361px) and (max-width:480px) {
    .section-title-title, .section-title-subtitle {
        font-size: 28px;
    }

    .title-container svg {
        width: 5%;
    }

    .divider-section-title {
        height: 4px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .section-title-title, .section-title-subtitle {
        font-size: 38px;
    }

    .title-container svg {
        width: 4%;
    }

    .divider-section-title {
        height: 5px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .section-title-title, .section-title-subtitle {
        font-size: 42px;
    }

    .title-container svg {
        width: 4%;
    }

    .divider-section-title {
        height: 5px;
    }
}

@media (min-width:1025px) and (max-width:1366px) {
    .section-title-title, .section-title-subtitle {
        font-size: 50px;
    }

    .title-container svg {
        width: 3%;
    }

    .divider-section-title {
        height: 5px;
    }
}