.offers-picker-container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  position: relative;
  align-items: center;
  animation: fadeBackground 0.4s ease-in-out;
}

.offers-picker-container img {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  
}

.offers-blur-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(37, 54, 70, 0.5);
}

.offers-picker-left-container,
.offers-picker-right-container {
  flex: 1;
  z-index: 1;
}

.offers-picker-list {
  gap: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
  overflow: visible; 
  position: relative;
}


.offer-picker-item-aos {
  position: relative;
  overflow: visible;
}


.offer-picker-item {
  width: 90%;
  height: 9rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 1;
}

.offer-picker-item:hover {
  z-index: 10;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.offer-picker-container-title {
  z-index: 3;
}

.offer-picker-title,
.offer-picker-subtitle {
  color: white;
  font-weight: 500;
  font-size: x-large;
  font-family: 'Inter', sans-serif;
}

.offer-picker-subtitle {
  margin-left: 3rem;
}

.offers-blur-item {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;

  transition: all 0.3s ease-in-out;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .offers-picker-right-container {
    flex: 2;
  }
}

@media (max-width: 600px) {
  .offers-picker-right-container {
    flex: 3;
  }
}

@media (max-width: 500px) {
  .offers-picker-right-container {
    flex: 4;
  }
}
