.project-page-container {
    background-color: #253646;
}

.project-footer {
    width: 100vw;
    height: 60vh;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .project-footer {
    height: 40vh;
  }
}
