.home-header-container {
    width: 100dvw;
    height: 100dvh;
}

.home-video-container {
  width: 98dvw;
  height: 70dvh;
  overflow: hidden;
  margin: 1rem auto;
  border-radius: 1rem;
}

.home-footer {
    width: 100dvw;
    height: 50dvh;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .home-video-container {
    height: 50dvh;
  }
}

@media (max-width: 500px) {
  .home-video-container {
    height: 30dvh;
  }
}