.home-header-container {
    width: 100vw;
    height: 100vh;
}

.home-video-container {
  width: 98vw;
  height: 70vh;
  overflow: hidden;
  margin: 1rem auto;
  border-radius: 1rem;
}

.home-footer {
    width: 100vw;
    height: 60vh;
}
