.home-header-container {
    width: 100vw;
    height: 100vh;
}

.home-video-container {
  width: 98vw;
  height: 70vh;
  overflow: hidden;
  margin: 1rem auto;
  border-radius: 1rem;
}

.home-footer {
    width: 100vw;
    height: 40vh;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .home-video-container {
    height: 50vh;
  }
}

@media (max-width: 500px) {
  .home-video-container {
    height: 30vh;
  }
}