.section-our-clients {
    animation: fadeIn 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 10% cover 45%;
}

.clients-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.clients-list {
    margin: 5% 0;
    display: flex;
    overflow-x: auto;
    list-style: none;
    align-items: center;
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    gap: 20px;
    padding: 10px;
    width: 80%;
}

.clients-list::-webkit-scrollbar {
    display: none;
}

.arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
