.section-our-furniture-container {
    gap: 5%;
    height: 400px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.section-our-furniture-slider {
    width: 1000px;
    height: 100%;
}


.section-our-furniture-description-text {
    margin-bottom: 10px;
}