.link {
    display: block;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

.link:hover {
    opacity: 0.8; /* Ahora sí funcionará con transición */
}

.link p {
    font-size: 18px;
}

.link div {
    width: 100%;
    height: 5px;
}

@media(max-width:360px) {
    .link {
        margin: 2% 0;
    }
    .link p {
        font-size: 16px;
    }
    .link div {
        height: 4px;
    }
}

@media (min-width:361px) and (max-width:480px) {
    .link {
        margin: 2% 0;
    }
    .link p {
        font-size: 16px;
    }
    .link div {
        height: 4px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .link {
        margin: 2% 0;
    }
    .link p {
        font-size: 20px;
    }
    .link div {
        height: 4px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .link {
        margin: 2% 0;
    }
    .link p {
        font-size: 20px;
    }
    .link div {
        height: 5px;
    }
}

@media (min-width:1025px) and (max-width:1366px) {
    .link {
        margin: 2% 0;
    }
    .link p {
        font-size: 20px;
    }
    .link div {
        height: 5px;
    }
}