.section-project {
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0% cover 5%;  
}

.section-project-header-container {  
    width: 100%;
    height: 100vh;
    
}

.section-project-header-render {
    width: 100%;
    height: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-project-render-main {
    width: 90%;
    height: 100%;
    transition: opacity 1s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-project-render-main image {
    height: 100%;
}

.section-project-render-main video {
    height: 100%;
}

.section-project-info {
    display: flex;
    margin-bottom: 2%;
    align-items: center;
    justify-content: space-between;
}

.section-project-info-description {
    animation: fadeSlideRight linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    
    width: 60%;
    padding: 5% 2%;
        
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background-color: #5B8095;
}

.section-project-info-description p {
    animation: clipReveal 1s ease-in forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    color: white;
    font-size: 20px;
}

.section-project-info-details {
    animation: fadeSlideLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    
    width: 30%;
    padding: 2%;
    border-radius: 10px;
    background-color: #FBFBFB;
}

.section-project-info-detail {
    animation: clipReveal 1s ease-in forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    margin: 2% 0;
    font-size: 18px;
    font-weight: lighter;
}

.section-project-info-title {
    font-size: 20px;
    font-weight: bolder;
}

.section-project-blueprint-main {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    
    width: 100%;
    height: auto;
    margin: 1% 0;
    object-fit: cover;
    object-position: center;
}


.section-project-renders-container, .section-project-blueprint-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 

    gap: 2%;
    list-style: none;
    align-items: stretch;
    justify-content: center;
    
}

.section-project-renders-container li, .section-project-blueprint-container li {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    overflow: hidden;
}

.section-project-render, .section-project-blueprint {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

