.section-breaf-description-container-info {
    width: 40%;
    display: flex;
    margin: 0 auto;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.section-breaf-description-text {
    width: 100%;
    margin: 2% 0;
    font-size: 18px;
    color: #253646;
    text-align: justify;
    
}

.section-breaf-description-container-info a {
    margin-top: 2%; /* Espacio entre el texto y el botón */
    align-self: flex-end; /* Lo alinea a la derecha */
}

.info-card-list {
    margin: 1% 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    
}
