.section-breaf-description {
    animation: fadeIn linear;
    animation-timeline: scroll(root);
    animation-range: entry 0% cover 20%;

    margin: 2% 0;
}
  
.section-breaf-description-container-info {
    animation: fadeSlideLeft linear;
    animation-timeline: scroll(root);
    animation-range: entry 0% cover 20%;
    
    width: 65%;
    display: flex;
    margin: 2% auto;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.section-breaf-description-text {
    width: 100%;
    margin: 1% 0;
    font-size: 18px;
    color: #253646;
    text-align: justify; 
}

.section-breaf-description-container-info a {
    margin-top: 1%; /* Espacio entre el texto y el botón */
    align-self: flex-end; /* Lo alinea a la derecha */
}

.info-card-list {
    margin: 2% 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    
}

.info-card-list  li{
    animation: appear linear;
    animation-timeline: scroll(root);
    animation-range: entry 0% cover 20%;
}

@media(max-width:360px) {
    .section-breaf-description {
        margin: 5% 0;
        animation-range: entry 0% cover 10%;
    }
    .section-breaf-description-container-info {
        width: 80%;
    }
    .section-breaf-description-text {
        font-size: 16px;
    }
    .info-card-list {
        gap: 10px;
        margin: 5% 0;
        flex-direction: column;
    }
}

@media (min-width:361px) and (max-width:480px) {
    .section-breaf-description {
        margin: 5% 0;
        animation-range: entry 0% cover 10%;
    }
    .section-breaf-description-container-info {
        width: 80%;
    }
    .section-breaf-description-text {
        font-size: 16px;
    }
    .info-card-list {
        gap: 5px;
        margin: 5% 0;
        flex-direction: column;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .section-breaf-description {
        margin: 5% 0;
        animation-range: entry 0% cover 10%;
    }
    .section-breaf-description-container-info {
        width: 90%;
    }
    .section-breaf-description-text {
        font-size: 20px;
    }
    .info-card-list {
        gap: 20px;
        margin: 5% 0;
        flex-direction: column;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .section-breaf-description {
        margin: 5% 0;
        animation-range: entry 0% cover 10%;
    }
    .section-breaf-description-container-info {
        width: 85%;
    }
    .section-breaf-description-text {
        font-size: 20px;
    }
}

@media (min-width:1025px) and (max-width:1366px) {
    .section-breaf-description {
        margin: 4% 0;
        animation-range: entry 0% cover 10%;
    }
    .section-breaf-description-container-info {
        width: 85%;
    }
    .section-breaf-description-text {
        font-size: 20px;
    }
}