.values-container {
    width: 100%;
    padding: 2rem;
    margin: 2rem 0;
    position: relative;
    
    gap: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.values-container img {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.value-container-aos {
    z-index: 5;
}

.value-container {
    width: 30rem;
    height: 20rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #253646;

    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;   
}

.value-container:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.value-title, .value-description {
    color: white;
}

.value-title {
    font-weight: 700;
    font-size: xx-large;
    font-family: 'Inter', sans-serif;
}

.value-description {
    font-weight: 400;
    font-size: medium;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.value-title-vision {
    text-align: right;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
    .values-container {
        gap: 2rem;
    }

    .value-container {
        width: 25rem;
    }
}

@media (max-width: 850px) {
    .value-container {
        width: 20rem;
    }
}

@media (max-width: 700px) {
    .values-container {
        gap: 1rem;
    }

    .value-container {
        gap: 1rem;
        width: 18rem;
    }

    .value-title {
        font-size: x-large;
    }

    .value-description {
        font-weight: 200;
    }
}

@media (max-width: 600px) {
    .values-container {
        gap: 2rem;
        flex-direction: column;
    }

    .value-container {
        gap: 1rem;
        width: 25rem;
        height: 15rem;
    }

    .value-container:active {
        transform: translateY(-5px) scale(1.02);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 450px) {
    .value-container {
        width: 20rem;
    }
}