.offers-container {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    background-color: #253646;
}

.offers-image-container {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 2rem;
}

.offers-right-container {
    flex: 2;
    gap: 2rem 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offers-description {
    color: white;
    margin-top: 3rem;
    font-weight: 100;
    font-size: medium;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.types-offers-container {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.types-offers-container li {
    width: 30%;
    height: 80%;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.types-offers-item {
    margin-top: 2rem;
}

.types-offers-container li a {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(37, 54, 70, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: background-color 0.3s ease-in-out;
}

.types-offers-container li a:hover, .types-offers-container li a:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.types-offers-title-container {
    padding: 0.5rem;
}

.types-offers-title, .types-offers-subtitle {
    color: white;
    font-size: large;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.types-offers-subtitle {
    margin-left: 2rem;
}

/* RESPONSIVE */
@media (max-width: 800px) {
    .offers-description {
        font-size: 0.8rem;
    }

    .types-offers-title, .types-offers-subtitle {
        font-size: 0.8rem;
    }

    .types-offers-subtitle {
        margin-left: 1rem;
    }
}

@media (max-width: 500px) {
    .offers-container {
        height: auto;
        display: block;
    }

    .types-offers-container {
        gap: 2rem;
        padding: 1rem;
        height: auto;
        flex-direction: column;
    }

    .offers-image-container {
        display: none;
    }

    .offers-description {
        padding: 1rem;
        margin-top: 0rem;
    }

    .types-offers-container li {
        width: 100%;
        height: 13rem;
    }

    .types-offers-item {
        margin: 0;
    }

    .offers-description {
        font-size: 1rem;
    }
}   